<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Contact Form</a>
                    <a href="#" class="item">Privacy Policy</a>
                    <a href="#" class="item">Imprint</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Digital Documents</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>© 2019 – #now("yyyy"), All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>

<!--<footer class="footer">-->
<!--    <div class="footer__social">-->
<!--        <div class="social">-->
<!--            <a href="https://music.apple.com/profile/noahpeeters" title="applemusic" aria-label="applemusic"><img src="/images/icons/social-icons/applemusic.svg" /></a>-->
<!--            <a href="mailto:noah@noahpeeters.de" title="email" aria-label="email"><img src="/images/icons/social-icons/email.svg" /></a>-->
<!--            <a href="https://github.com/NoahPeeters" title="github" aria-label="github"><img src="/images/icons/social-icons/github.svg" /></a>-->
<!--            <a href="https://keybase.io/noahpeeters" title="keybase" aria-label="keybase"><img src="/images/icons/social-icons/keybase.svg" /></a>-->
<!--            <a href="https://www.linkedin.com/in/noahpeeters" title="linkedin" aria-label="linkedin"><img src="/images/icons/social-icons/linkedin.svg" /></a>-->
<!--            <a href="https://orcid.org/0000-0002-0506-923X" title="orcid" aria-label="orcid"><img src="/images/icons/social-icons/orcid.svg" /></a>-->
<!--            <a href="tel:+4917642987761" title="phone" aria-label="phone"><img src="/images/icons/social-icons/phone.svg" /></a>-->
<!--            <a href="https://stackexchange.com/users/12880236/noah-peeters" title="stack-exchange" aria-label="stack-exchange"><img src="/images/icons/social-icons/stack-exchange.svg" /></a>-->
<!--            <a href="https://stackoverflow.com/users/10961090/noah-peeters?tab=profile" title="stack-overflow" aria-label="stack-overflow"><img src="/images/icons/social-icons/stack-overflow.svg" /></a>-->
<!--            <a href="https://t.me/NoahPeeters" title="telegram" aria-label="telegram"><img src="/images/icons/social-icons/telegram.svg" /></a>-->
<!--            <a href="https://twitter.com/noah_peeters" title="twitter" aria-label="twitter"><img src="/images/icons/social-icons/twitter.svg" /></a>-->
<!--            <a href="https://wa.me/4917642987761" title="whatsapp" aria-label="whatsapp"><img src="/images/icons/social-icons/whatsapp.svg" /></a>-->
<!--            <a href="https://www.xing.com/profile/Noah_Peeters" title="xing" aria-label="xing"><img src="https://dev.xing.com/assets/xws/dev/logo_rules/XNG_Sharebutton_v01-7d06f36109c803c7a79f5a5c597f1fb8c8ff4d310d74ee8f6b31a56b6d6c3eea.png" /></a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
