.sidebar {
    opacity: 1;
}

.sidebar img {
    max-width: 175px;
}

.sidebar.sticky {
    height: auto;
}

body {
    font-family: $global-font-family;
    font-size: 18px;
}

.archive__item-excerpt {
    font-size: 1em;
}

a.no-stying {
    color: $text-color;
}

@-webkit-keyframes intro {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes intro {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
