.sidebar {
    opacity: 1;
}

.sidebar img {
    max-width: 175px;
}

.sidebar.sticky {
    height: auto;
}

body {
    font-family: $global-font-family;
    font-size: 18px;
}

.archive__item-excerpt {
    font-size: 1em;
}

a.no-styling {
    color: $text-color;
}

@-webkit-keyframes intro {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
}

@keyframes intro {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

p.page__meta {
  margin: 0;
}

p.page__header_spacing {
  height: 1.5em;
  margin: 0;
}

.page .page__inner-wrap .page__meta {
  float: none;
}

footer.page__meta {
  margin-top: 0px;
}
