$link-color: #cc2613;

body {
  margin: 40px auto;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

article {
  margin: 0 auto;
  max-width: 650px;
}

footer {
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
}

footer {
  font-size: small;
}

footer .legal_links a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
}

@media screen {
  a[target="_blank"][href*="://"]:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: rgba(0,0,0,.75);
    border-radius: 4px;
    color: #fff;
    content: attr(href);
    font-size: 14px;
    padding: 6px 10px;
      top: 26px;
    white-space: nowrap;
    transform: translate3d(0,-10px,0);
    transition: all .15s ease-in-out;
    z-index: 10000;
  }

  a[target="_blank"][href*="://"]:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  a[target="_blank"][href*="://"]::after { 
    content: " ↗";
  }
}

a:hover {
  text-decoration: underline;
}

.article__meta {
  margin-top: -1.2em;
  margin-bottom: 1.2em;
  color: #666;
  font-size: medium;
}

.list__item {
  border-left: .25rem solid #BBB;
  margin-left: 0;
  padding-left: 1em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #444;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

blockquote {
  border-left: .25rem solid #BBB;
  margin-left: 0;
  padding-left: 1em;
}

.highlight pre {
  padding: 0.5em;
  overflow: auto;
}

.pagination__container {
  text-align: center;
}

.pagination__container .pagination__link {
  margin: 0 0.5em;
}

@mixin form-element() {
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 300px;
  text-align: center;
  border: 1px solid black;
}

@mixin button() {
  @include form-element;
  color: white;
  border: none;
  cursor: pointer;
}

.button-green {
  @include button;
  background-color: #14720a;
}

.code-input {
  @include form-element;
}


@media print {
  .breadcrumbs {
    display: none;
  }

  footer {
    display: none;
  }

  a {
    color: #444;
  }
}
